{% if tailscale_proxy_tailnet is defined %}
TS_TAILNET={{ tailscale_proxy_tailnet }}
{% endif %}
{% if tailscale_proxy_oauth_client_id is defined %}
TS_OAUTH_CLIENT_ID={{ tailscale_proxy_oauth_client_id }}
{% endif %}
{% if tailscale_proxy_oauth_client_secret is defined %}
TS_OAUTH_CLIENT_SECRET={{ tailscale_proxy_oauth_client_secret }}
{% endif %}
{% if tailscale_proxy_authkey is defined %}
TS_AUTHKEY={{ tailscale_proxy_authkey }}
{% endif %}
