{% if tailscale_proxy_tailnet %}
TS_TAILNET={{ tailscale_proxy_tailnet }}
{% endif %}
{% if tailscale_proxy_oauth_client_id %}
TS_OAUTH_CLIENT_ID={{ tailscale_proxy_oauth_client_id }}
{% endif %}
{% if tailscale_proxy_oauth_client_secret %}
TS_OAUTH_CLIENT_SECRET={{ tailscale_proxy_oauth_client_secret }}
{% endif %}
{% if tailscale_proxy_authkey %}
TS_AUTHKEY={{ tailscale_proxy_authkey }}
{% endif %}
